

#javaInput{
  text-align: center;
}

#callFxnDiv{
  text-align: center;
  padding: 20px;
}

#homeDiv{
  text-align: center;
  padding: 20px;
}

#canvas{
  padding: 30px;
}

button{
  background-color: #f1cc5c;
  font-family: "Trebuchet MS";
  border-radius: 8px;
  padding: 10px;
  border: none;
}
