p{
  color:red;
  text-align: center;
}

h1{
  font-style: italic;
  font-size: 30px; /*can also use % or smaller and larger to resize*/
}

/*ID Selector*/
#test-id-1{
    color: purple;
}

/*Class Selector*/
.test-class{
  text-shadow: 1px 2px red;
}

/*Pseudo-Class Selector*/
a:hover{
    color:white;
}

/*
NOTES
-id selector to select a specific element, need to include id value in the
element declaration.
-class selector selects everything of a particular class.
-attribute selector selects elements on the page with a specified attribute.
-psuedo-class selects specific elements but only when they are in a certain state.
-use class for lots of elements, id tags are unique and should only be used once
*/
